.footer_container{
    display: flex;
    background-color:var(--dark-color);
    color:var(--mid-color-dark);
    padding:25px;
    height:150px;
}
.footer__shield{
    font-size: 5.8rem;
}

.footer__shield::after{
    content:"s";
    color:var(--dark-color);
    position:relative;
    font-weight: bold;
    left:-76px;
    top:-20px;
    font-size:6.8rem;
}
.line{
    background-color: var(--mid-color);
    width:2px;
}
.footer_info{
    color:var(--mid-color);
    padding-left: 20px;
    font-size:1rem;
    font-weight:bold;
}