*{
    box-sizing: border-box;
    margin: 0;
}

.header_item__score{
    background-color:black;
    color:white;
    font-weight:bold;
    border-radius: 10px;
    font-size: 0.78rem;
    padding:2px 5px;
    width:fit-content;
    height: 20px;
}

.header{
    display: grid;
    grid-template-columns: 40% 1fr 10% 2% 2%;
    background-color:var(--accent-color);
    align-items: center;
}
.header > * {
    margin-left: 10px;  
}
.logo{
    padding:10px;
    font-family: sans-serif;
    font-weight: bold;
}
svg{
    font-size: 1.5rem;
}

.logo svg::after{
    content:"s";
    color:white;
    position:absolute;
    left:17px;
    top: 14px;
    font-size:0.9rem;
}
li.header_item{
    list-style-type: none;
    
}

button:hover{
    list-style-type: none;
    color:white;
}
button:hover .header_item__score{
    background-color:white;
    color:black;
}

.user_name{
    font-family: sans-serif;
    margin-left: 10px;
}

.header_item_btn{
    border: none;
    background-color:#369993;
    height:100%;
}
.logout_btn{
    border: none;
    background-color:#369993;
    font-weight:bold;
    height:100%;
}
.class_name{
    font-weight:bold;
}
.header_item_list{
    display: flex;
    gap: 20px;
}
