*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;
    background-color:white;
}
.empty_container{
    display:flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.container__home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    height: 100%;
}

/* .container__home{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header{
    grid-column-start: 1;
    grid-column-end: -1;
}

.home_footer{
    grid-column-start: 1;
    grid-column-end: -1;
} */