.safe_popup{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 1;
    background-color:white;
    width:500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.user_safe_container{
    display:flex;
    justify-content: center;
    padding-top: 10%;

}

.upload__safe__icon{
    color:#cacfe2;
    font-size:5rem;
}
.safe_popup.active{
    transform: translate(-50%, -50%) scale(1); 
}

.safe_popup__header {
    padding: 10px 15px 0px;
    display: flex;
    flex-direction:column;
  }
  
.safe_popup__header .title {
font-size: 1.25rem;
font-weight: bold;
}
  
.safe_popup__body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.safe_popup__header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    width: 20px ;
  }

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .upload_form_container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    gap:20px;
}

.upload_form_container__button{
    border:none;
    background-color:cadetblue;
    color:white;
    font-size:1rem;
    font-weight:bold;
    border-radius:5px;
    height: 30px;
    width:100px;
}

.upload_container{
    width: 450px;
    /* max-width: 250px; */
    height: 200px;
    border-radius: 20px;
    border: 3px dotted var(--mid-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:5px;
    padding: 30px;
}

.upload_container__hover{
    border:solid cadetblue;
    box-shadow: 0px 0px 10px 5px cadetblue;
}

.upload_container__thumb{
    width:150px;
    height:150px;
    background-color:darkgray;
    border-radius:20px;
    position: relative;
    background-size: cover;
    overflow: hidden;
}
.upload_container__thumb__icon{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
    color:lightgray;
    width: 100px;
}
.upload_container__thumb::after{
    content:attr(data-label);
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding: 5px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.upload_container__input_button{
    
}

.safe_upload_button{
    border:none;
    background-color:cadetblue;
    color:white;
    font-size:1rem;
    font-weight:bold;
    border-radius:5px;
    height: 30px;
    width:100px;
}
.upload_container__prompt{
    font-size:1.2rem;
    width: 100%;
    color:gray;
    margin-bottom: 20px;
}
.upload_container__upload_icon{
    color:lightgray;
    font-size:3.5rem;
}

.box_uploading_container{
    height: 200px;
    position: relative;
    padding: 20px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

.box_uploading_container__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color:#a7a6a6;
    animation: pop 1.8s infinite;
}


@keyframes pop {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -200%) scale(1, 1); }
    55% { transform: translate(-50%, -200%) rotate(15deg); }
    60% { transform: translate(-50%, -200%) rotate(-15deg); }
    65% { transform: translate(-50%, -200%) rotate(15deg); }
    70% { transform: translate(-50%, -200%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}

@keyframes shrink {
    0% { width: 50px; background-color:rgb(100, 100, 100);}
    50% { width: 30px; background-color:rgb(150, 150, 150);}
    55% { width: 30px; background-color:rgb(150,150,150);}
    60% { width: 30px; background-color:rgb(150,150,150);}
    65% { width: 30px; background-color:rgb(150,150, 150);}
    70%{ width: 30px; background-color:rgb(150, 150, 150);}
    100% { width: 50px; background-color:rgb(100, 100, 100);}
}

.safe_popup__body__progress_bar{
    display:flex;
    /* justify-self: center; */
    justify-content:space-between;
}
.safe_popup__body__progress_bar_item{
    background-color:white;
    display:flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* font-size: 1.3rem;*/
    align-items: center;
    justify-content: center;
    border:3px solid var(--light_gray);
    color:var(--light_gray);
    margin-right: 10px;
}

.safe_popup__body__progress_bar_item.done{
    border:3px solid var(--accent-color);
    background-color:var(--accent-color);
    color:white;
}
.safe_popup__body__progress_bar_item.current{
    border:3px solid var(--dark-color);
    color:var(--dark-color);
    
}

.upload_container__prompt__container{
    display:flex;
    flex-direction: column;
    align-items:center;
}