*{
    box-sizing: border-box;
    margin: 0;
}
/* grid of the cards */
.safe_container {
    display: flex;
    gap:20px;
    margin:10px;
}

.safe{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.safe.solved{
    box-shadow: 0px 0px 10px 3px #369993;
}

.safe__frame.solved{
    background-color:#369993;
}
.safe__frame{
    background-color:#454A5E;
    border-radius: 5px;
    width:inherit;
    height: inherit;
    display: grid;
    grid-template-rows:1fr 12fr;
}


.btn-array{
    display: flex;
    gap:5px;
    justify-content: right;
    height: fit-content;
    
    
}
.btn-array__btn{
    color:#297d77;
    font-size:1.5rem;
    padding-top: 3px;
    margin: 3px;
}

.btn-array__btn.solved{
    color:#6e7386;
    padding-top: 3px;
    margin: 3px;
}

.btn-array .btn-array__btn:hover{
    color:white;
}

.btn-array .btn-array__btn.solved:hover{
    color:#369993;
}


.info{
    background-color:white;
    width:inherit;
    padding-left: 10px;
    margin-top: 10px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnCA{
    position: absolute;
    display: none;
    
}
.breakBtn{
    background-color:#369993;
    color:white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border:none;
    border-radius: 5px;
    border: 0;
}
/* .editBtn{
    background-color:#51b3ac;
    color:white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 0 5px 5px 0;
    border: 0;
} */

.btnCA:hover{
    box-shadow: 2px 2px 20px #3ba59e;
}

.icon:hover .vaultIcon + .btnCA{
    display:flex;
}

.vaultIcon.solved{
    font-size:150px;
    color:#297d77;
    padding: 20px;
}

.vaultIcon{
    font-size:130px;
    color:#6e7386;
    padding: 20px;
}

.vaultIcon:hover + .break{
    display:block;
    z-index:-1;
}
.fileName{
    color: #369993;
}