.defult_container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.defult__content{  
    display:flex;
    align-items:center;
    background-color:var(--light-dark-color);
    padding: 50px;
    color:var(--dark-color);
    font-size:1.3rem;
    border-radius:20px;
    width:600px;
    height:200px;
}
.defult__content__text{
    display:flex;
    flex-direction:column;
}
.defult__content__text__bold{
    font-weight: bold;
}
/* .Defult__CTA{
    color:white;
    font-weight: bold;
    font-size:1.3rem;
    background-color:var(--dark-color);
    border:none;
    padding:20px;
    border-radius: 5px;
    width: fit-content;
} */
.defult__content__text__img{
    /* justify-self: right; */
    width: 200px;
    margin-bottom:5px;
    width: 125px;
}