.header_item__score{
    background-color:black;
    color:white;
    font-weight:bold;
    border-radius: 10px;
    font-size: 0.78rem;
    padding:2px 5px;
    width:fit-content;
    height: 20px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    background-color:var(--accent-color);
    align-items: center;
    height: fit-content;
}
.header > * {
    margin-left: 10px;  
}
.logo{
    padding:10px;
    font-family: sans-serif;
    font-weight: bold;
}
.shield{
    font-size: 1.5rem;
}

.shield::after{
    content:"s";
    color:white;
    position:absolute;
    left:27px;
    top:10px;
    font-size:1.2rem;
}

li.header__list__item{
    list-style-type: none;
}


.header__text{
    font-family: 'M PLUS Rounded 1c';
    font-size:1rem; 
}

.header__list__item_btn{
    background-color:red;
    width:100%;
    border: none;
    font-family: 'M PLUS Rounded 1c';   
    font-weight:400;
    background-color:#369993;
    height:100%;
}

button:hover{
    list-style-type: none;
    color:white;
}
button:hover .header_item__score{
    background-color:white;
    color:black;
}

.user_name{
    font-weight:bold;
    margin-left: 2px;
}
.logout{
    justify-self:right;
    padding-right: 10px;
}
.logout_btn{
    border: none;
    background-color:#369993;
    font-weight:bold;
    height:100%;
}
.class_name{
    font-weight:bold;
}
.header__list{
    display: flex;
    gap: 20px;
}
